.aquabanner{
    & .carousel-item:after {
        content:"";
        display:block;
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background: rgba(2, 150, 192,0.8);
      }
 
      & .carousel-indicators{
        & li{
          width: 15px;
          height: 15px;
          border-radius: 100%;
        }
      }
      &__content{
        padding: 0px 0px 0px 100px;
      }
      &__bigfont{
        h1{
          font-size: 4vw;
        }
        h4{
          font-size: 2vw;
        }
        h5{
          font-size: 3vw;
        }
        h3{
          font-size: 1vw;
        }
      }
}
